SUPABASE_URL=https://fkmsfsbxmmpzkhzloccs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrbXNmc2J4bW1wemtoemxvY2NzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODExNjM4NSwiZXhwIjoyMDczNjkyMzg1fQ.ZTvxoAaa66G0CcHvklG9HyBDcuSoAjDXaMfdDjfUKac
JWT_SECRET=MySuperSecretKey123ForCallbackOnly
MIN_WITHDRAW=1.00
